/* src/global.css */

@font-face {
  font-family: 'Sansation';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/Sansation_Light.ttf'); /* IE9 Compat Modes */
  src: local(''), url('/fonts/Sansation_Light.ttf') format('truetype')
}

html {
  background: black;
}